{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
<div class="col-4 gym-item">
  <div class="card">
    <h1 class="my-4">{{ trainer.title }}</h1>
     <div class="image-container">
              {% if trainer.image %}
                <img src="{{ trainer.image.url }}" class="card-img-top img-thumbnail" alt="{{ trainer.title }}">
              {% else %}
                <img src="{% static 'no-image.jpg' %}" class="card-img-top img-thumbnail" alt="No image">
              {% endif %}
     </div>
    <div class="card-body">
        <h5 class="card-title">Тренирую в: {{ trainer.gyms }}</h5>
        <h5 class="card-title">Направление: {{ trainer.route }}</h5>
    </div>
  </div>
</div>
{% endblock %}