

body {
    background-color: #cecece;
}

.gyms .gym-item {
    margin-bottom: 15px;
}

.image-container {
    max-height: 150px;
    text-align: center;
}

.img-thumbnail {
    max-height: 150px;
    width: auto;
}