{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="products">
    <h1 class="my-4">абонементы</h1>
    <div class="row">
      {% for product in products %}
        <div class="col-4 product-item">
          <div class="card">
              <div class="image-container">
              {% if product.image %}
                <img src="{{ product.image}}" class="card-img-top img-thumbnail" alt="{{ product.title }}">
              {% else %}
                <img src="{% static 'no-image.jpg' %}" class="card-img-top img-thumbnail" alt="No image">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">
                Цена: {{ product.price }}$
                  Зал: {{ product.author }}
              </p>
                <p class="product-link">
                 <a href="{% url "gym_card" product.author.id %}">Подробнее о зале</a>
                    <form method="post" action="{% url 'cart_add' product.id %}">
        {% csrf_token %}
            <h3 class="mb-3">Add to cart</h3>
            <div class="row">
              <div class="col-6">
                <div class="input-group mb-3">
                  <input name="quantity" type="number" class="form-control" placeholder="Quantity"
                         aria-label="Quantity" aria-describedby="product-quantity" max="{{ product.quantity }}"
                    value="{{ product.quantity }}">
                    <span class="input-group-text" id="product-quantity">
                      <button href="{% url 'cart_add' product.id %}"  type="submit" class="btn">in Cart</button>
                    </span>
                </div>
              </div>
            </div>
      </form>
                </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %} 