{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% elif user.is_authenticated %}
        <p>
            You are already logged in.
            Go <a href="/">shopping</a>.
        </p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
        <div class="login-form">
            <form action="{% url "login" %}" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Log-in"></p>
            </form>
        </div>
    {% endif %}
{% endblock %}