{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GymForYou</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "gyms_list"%}">Тренажерные залы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "trainer_list"%}">Тренера</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "home"%}">Абонементы</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url "history"%}"> Мои абонементы</a>
      </li>
    </ul>
      <ul class="nav justify-content-end">
  {% if user.is_authenticated %}
    <li class="navbar-nav">
      <a class="nav-link" href="/logout/">Выйти</a>
    </li>
  {% else %}
    <li class="navbar-nav">
      <p class="text">
        <a class="text-reset" href="/login/">Войти</a>/<a href="/register/" class="text-reset">Регистрация</a>
      </p>
    </li>
  {% endif %}
  </ul>
</nav>